section{
    margin: 100px auto;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content:space-evenly;
}
section div{
    width: 22%;
    height: 93%;
    background:#f5f5f5;
    padding: 1%;
    position: relative;
}
section img{
    width: 300px;
    height: 186px;
}

p{
    margin: 5px;
}
h6{
    width: 50px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}
button{
    padding: 5px;
    background: red;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
}